body {
    font-family: roboto, sans-serif;
}

.section1, .header {
    display: flex;
    background-color: black;
}

.section1 {
    flex-direction: row;
    padding: 100px;
    gap: 100px;
}

.header {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

.home {
    font-size: 24px;
    font-weight: 900;
    padding-top: 20px;
    color: white;
}

.home:hover {
    color:rgb(242, 7, 144);
}

.links {
    display: flex;
    margin-left: auto;
    gap: 25px;
    color: rgb(242, 7, 144);
    font-size: 18px;
    padding-top: 20px;
}

a {
    text-decoration: none;
    color: rgb(242, 7, 144);
}

a:hover {
    color:rgb(99, 2, 99)
}

.text {
    font-size: 18px;
    color: #E5E7EB;
}

.title {
    font-size: 48px;
    font-weight: 900;
    -webkit-text-stroke: 2px rgb(242, 7, 144);
}

.logo, .title {
    color: #F9FAF8;
}

button {
    background-color: rgb(242, 7, 144);
    color: black;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    border-style: none;
    width: 150px;
    margin-left: 10px;
}

button:hover {
    background-color: rgb(99, 2, 99);
}

.title, .text {
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

img {
    display: flex;
    height:300px;
    width: 350px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(242, 7, 144);
    border-width: 1px;
}